Service References/BisMessageHttpActionServiceReference/bismessagehttpaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="www.toincrease.com" elementFormDefault="qualified" targetNamespace="www.toincrease.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="executeMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeMessageGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="executeMessageGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>