Service References/BisWebserviceReferences/biswswebserviceoperation2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://bis-upd10-dm5455188b4129953fdevaos.cloudax.dynamics.com/soap/services/biswswebserviceoperation?xsd=xsd2" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="https://bis-upd10-dm5455188b4129953fdevaos.cloudax.dynamics.com/soap/services/biswswebserviceoperation?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" />
      <xsd:import schemaLocation="https://bis-upd10-dm5455188b4129953fdevaos.cloudax.dynamics.com/soap/services/biswswebserviceoperation?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://bis-upd10-dm5455188b4129953fdevaos.cloudax.dynamics.com/soap/services/biswswebserviceoperation?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://bis-upd10-dm5455188b4129953fdevaos.cloudax.dynamics.com/soap/services/biswswebserviceoperation?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeOperation">
    <wsdl:part name="parameters" element="tns:executeOperation" />
  </wsdl:message>
  <wsdl:message name="executeOperation_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="executeOperationResponse">
    <wsdl:part name="parameters" element="tns:executeOperationResponse" />
  </wsdl:message>
  <wsdl:message name="executeOperationResponse_Headers">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q2:Infolog" />
  </wsdl:message>
  <wsdl:message name="BisWsWebserviceCall_executeOperation_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q3:Fault" />
  </wsdl:message>
  <wsdl:message name="ping">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="ping_Headers">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="callContext" element="q4:CallContext" />
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="pingResponse_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="infolog" element="q5:Infolog" />
  </wsdl:message>
  <wsdl:message name="BisWsWebserviceCall_ping_SoapServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2013/01/datacontracts" name="detail" element="q6:Fault" />
  </wsdl:message>
  <wsdl:portType name="BisWsWebserviceCall">
    <wsdl:operation name="executeOperation">
      <wsdl:input wsam:Action="http://tempuri.org/BisWsWebserviceCall/executeOperation" name="executeOperation" message="tns:executeOperation" />
      <wsdl:output wsam:Action="http://tempuri.org/BisWsWebserviceCall/executeOperationResponse" name="executeOperationResponse" message="tns:executeOperationResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/BisWsWebserviceCall/Fault" name="SoapServiceFaultFault" message="tns:BisWsWebserviceCall_executeOperation_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:input wsam:Action="http://tempuri.org/BisWsWebserviceCall/ping" name="ping" message="tns:ping" />
      <wsdl:output wsam:Action="http://tempuri.org/BisWsWebserviceCall/pingResponse" name="pingResponse" message="tns:pingResponse" />
      <wsdl:fault wsam:Action="http://tempuri.org/BisWsWebserviceCall/Fault" name="SoapServiceFaultFault" message="tns:BisWsWebserviceCall_ping_SoapServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>